<form id="addGame" class="item-12-12" onSubmit="addGame();">
  <fieldset class="item-7-12">
    <label class="input-full-width">
      <span class="label-title">Game name</span>
      <%- include(site.views + '/atoms/inputs/input-text', {name: 'add-game-name', placeholder: 'Enter name', required: true}) %>
    </label>
  </fieldset>
  <fieldset class="item-5-12 tar">
    <%- include(site.views + '/atoms/buttons/button-primary', {action: 'log("Primary")', text: 'Upload main image', theme: 'dark'}) %>
  </fieldset>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Game description</span>
      <%- include(site.views + '/atoms/inputs/input-textarea', {name: 'add-game-description', placeholder: 'Type here...', required: true}) %>
    </label>
  </fieldset>
  <fieldset class="item-3-12">
    <span class="label-title">3rd Party Licence?</span>
    <% inputs = [
      {name: 'add-game-third-party-licence', text: 'Yes', value: 'yes', required: true},
      {name: 'add-game-third-party-licence', text: 'No', value: 'no', required: true}
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-radio', {input: input}) %>
    <% }); %>
  </fieldset>
  <fieldset class="item-3-12">
    <label>
      <span class="label-title">Number of paylines</span>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-paylines', placeholder: '40', min: '1', max: '10', step: '1', required: true}) %>
    </label>
  </fieldset>
  <fieldset class="item-6-12">
    <label>
      <span class="label-title">Min/max stakes (GBP)</span>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-stakes-min', placeholder: '0.75', min: '0.5', max: '5000', step: '0.25', required: true}) %>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-stakes-max', placeholder: '2,250', min: '0.5', max: '5000', step: '0.25', required: true}) %>
    </label>
  </fieldset>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Set the volatility</span>
      <div class="volatility-range_container">
        <%- include(site.views + '/atoms/inputs/input-range', {name: 'add-game-volatility', required: true}) %>
      </div>
    </label>
  </fieldset>
  <fieldset class="item-12-12">
      <span class="label-title">Select the supported channels</span>
      <% inputs = [
          {name: 'phone', icon: 'phone', text: 'Phone'},
          {name: 'tablet', icon: 'tablet', text: 'Tablet'},
          {name: 'desktop', icon: 'desktop', text: 'Desktop'},
          {name: 'slot', icon: 'slot', text: 'Slot'}
      ] %>
      <% inputs.forEach(function(input, index) { %>
        <%- include(site.views + '/atoms/inputs/input-checkbox', {input: input}) %>
      <% }); %>
  </fieldset>
  <%- include(site.views + '/atoms/buttons/button-primary', {action: 'addGame.submit', text: 'Add game', theme: 'brand'}) %>
</form>