<form id="addGame" class="item-12-12" onSubmit="addGame();">
  <% 
    // Game Name 
  %>
  <fieldset class="item-12-12">
    <label class="input-full-width">
      <span class="label-title">Name</span>
      <%- include(site.views + '/atoms/inputs/input-text', 
        {
          name: 'add-game-name', 
          placeholder: 'Enter name', 
          required: true, 
          maxlength: '',
          message: {
            error: {
              required: site.messages.forms.failure.required, 
              invalid: site.messages.forms.failure.invalid.letters
            }
          }
        }
      ) %>
    </label>
  </fieldset>
  <% 
    // Game Description
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Description</span>
      <%- include(site.views + '/atoms/inputs/input-textarea', 
        {
          name: 'add-game-description', 
          placeholder: 'Description', 
          required: true, 
          maxlength: 250,
          message: {
            error: {
              required: site.messages.forms.failure.required, 
              invalid: site.messages.forms.failure.invalid.short
            }
          }  
        }
      ) %>
    </label>
  </fieldset>
  <% 
    // Channels
  %>
  <fieldset class="item-12-12">
    <span class="label-title">Supported channels</span>
    <% inputs = [
        {name: 'phone', icon: 'phone', text: 'Phone', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'tablet', icon: 'tablet', text: 'Tablet', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'desktop', icon: 'desktop', text: 'Desktop', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'slot', icon: 'slot', text: 'Slot', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}}
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-checkbox-icon', {input: input}) %>
    <% }); %>
  </fieldset>

  <% 
    // Volatility Rating
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Volatility Rating</span>
      <div class="volatility-range_container">
        <%- include(site.views + '/atoms/inputs/input-range', {name: 'add-game-volatility', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
      </div>
    </label>
  </fieldset>
  <% 
    // Game Type
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Game Type</span>
      <% options = [
          {value: 'type-casual-game', text: 'Casual Game'},
          {value: 'type-egm', text: 'EGM'},
          {value: 'type-jackpots', text: 'Jackpots'},
          {value: 'type-slots', text: 'Slots'},
          {value: 'type-table', text: 'Table'},
          {value: 'type-video-poker', text: 'Video Poker'},
          {value: 'type-instant-win', text: 'Instant Win'}
      ] %>
      <%- include(site.views + '/atoms/inputs/input-select', {name: 'add-game-type', text: 'Select a type', options: options, required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
  </fieldset>
  <% 
    // Roadmap
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Add to Roadmap?</span>
      <%- include(site.views + '/atoms/inputs/input-toggle', 
        {input: {name: 'add-game-roadmap', text: 'Is this game displayed on the roadmap?', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}}
      }) %>
    </label>
  </fieldset>
  <% 
    // Territory
  %>
  <fieldset class="item-12-12">
    <span class="label-title">Supported territories</span>
    <% inputs = [
        {name: 'territory-asia', icon: 'phone', text: 'Asia', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-british-columbia', icon: 'phone', text: 'British Columbia', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-europe', icon: 'phone', text: 'Europe', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-manitoba', icon: 'phone', text: 'Manitoba', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-new-jersey', icon: 'phone', text: 'New Jersey', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-ontario', icon: 'phone', text: 'Ontario', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-pennsylvania', icon: 'phone', text: 'Pensylvia', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-quebec', icon: 'phone', text: 'Quebec', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}} 
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-checkbox', {input: input}) %>
    <% }); %>
  </fieldset>
  <% 
    // Languages
  %>
  <fieldset class="item-12-12">
    <span class="label-title">Supported languages</span>
    <% inputs = [
        {name: 'territory-canadian-french', icon: 'phone', text: 'Canadian French', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-danish', icon: 'phone', text: 'Danish', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-english', icon: 'phone', text: 'English', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-finnish', icon: 'phone', text: 'Finnish', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-french', icon: 'phone', text: 'French', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-german', icon: 'phone', text: 'German', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-italian', icon: 'phone', text: 'Italian', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-norwegian', icon: 'phone', text: 'Norwegian', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-portugese', icon: 'phone', text: 'Portuguese', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-spanish', icon: 'phone', text: 'Spanish', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}},
        {name: 'territory-swedish', icon: 'phone', text: 'Swedish', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}} 
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-checkbox', {input: input}) %>
    <% }); %>
  </fieldset>
  <% 
    // Theme
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Themes</span>
      <% options = [
        {value: 'theme-animal', text: 'Animal'},
          {value: 'theme-egm-port', text: 'EGM Port'},
          {value: 'theme-egypt', text: 'Egypt'},
          {value: 'theme-game-show', text: 'Game Show'},
          {value: 'theme-nature', text: 'Nature'},
          {value: 'theme-stepper', text: 'Stepper'}
      ] %>
      <%- include(site.views + '/atoms/inputs/input-select', {name: 'add-game-theme', text: 'Select a theme', options: options, required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
  </fieldset>
  <% 
    // New
  %>
  <fieldset class="item-3-12">
    <span class="label-title">Is this game new?</span>
    <%- include(site.views + '/atoms/inputs/input-toggle', 
      {input: {name: 'add-game-new', text: 'Is this game new?', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}}
    }) %>
  </fieldset>
  <% 
    // Featured
  %>
  <fieldset class="item-3-12">
    <span class="label-title">Is this game featured?</span>
    <%- include(site.views + '/atoms/inputs/input-toggle', 
      {input: {name: 'add-game-featured', text: 'Is this game featured?', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}}
    }) %>
  </fieldset>
  <% 
    // Licensed
  %>
  <fieldset class="item-3-12">
    <span class="label-title">Is this game licenced?</span>
    <%- include(site.views + '/atoms/inputs/input-toggle', 
      {input: {name: 'add-game-licenced', text: 'Is this game licenced?', required: false, message: {error: {invalid: site.messages.forms.failure.generic}}}
    }) %>
  </fieldset>
  <% 
    // Paylines
  %>
  <fieldset class="item-6-12">
    <label>
      <span class="label-title">Number of paylines</span>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-paylines', placeholder: '40', min: '1', max: '10', step: '1', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
  </fieldset>
  <% 
    // Min/Max Stakes
  %>
  <fieldset class="item-6-12">
    <label>
      <span class="label-title">Min/max stakes (GBP)</span>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-stakes-min', placeholder: '0.75', min: '0.5', max: '5000', step: '0.25', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-stakes-max', placeholder: '2,250', min: '0.5', max: '5000', step: '0.25', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
  </fieldset>
  <% 
    // Software ID & RTP
  %>
  <fieldset class="item-12-12 input-joined_container">
    <div class="input-joined_label_container">
      <div class="label_container">
        <span>Software ID</span>
        <span>Percentage</span>
      </div>
    </div>
    <label class="input-joined_row">
      <%- include(site.views + '/atoms/inputs/input-text', 
        {
          name: 'add-game-software-id-1', 
          placeholder: 'Enter ID', 
          required: true, 
          maxlength: '',
          message: {
            error: {
              required: 'Please do not leave this blank.', 
              invalid: 'Generic error message'
            }
          }
        }
      ) %>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-software-percentage-1', placeholder: '93.16', min: '0', max: '100', step: '0.01', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
    <label class="input-joined_row">
      <%- include(site.views + '/atoms/inputs/input-text', 
        {
          name: 'add-game-software-id-2', 
          placeholder: 'Enter ID', 
          required: true, 
          maxlength: '',
          message: {
            error: {
              required: 'Please do not leave this blank.', 
              invalid: 'Generic error message'
            }
          }
        }
      ) %>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-software-percentage-3', placeholder: '93.16', min: '0', max: '100', step: '0.01', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
    <label class="input-joined_row">
      <%- include(site.views + '/atoms/inputs/input-text', 
        {
          name: 'add-game-software-id-1', 
          placeholder: 'Enter ID', 
          required: true, 
          maxlength: '',
          message: {
            error: {
              required: site.messages.forms.failure.required, 
              invalid: site.messages.forms.failure.generic
            }
          }
        }
      ) %>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-software-percentage-3', placeholder: '93.16', min: '0', max: '100', step: '0.01', required: true, message: {error: {invalid: site.messages.forms.failure.generic}}}) %>
    </label>
    <%- include(site.views + '/atoms/buttons/button-icon-only', {type: 'button', action: 'duplicateRow(this)', text: 'Duplicate this row', icon: 'plus-light', theme: 'dark'}) %>
  </fieldset>
  <% 
    // Release date
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Game Release Date</span>
      <%- include(site.views + '/atoms/inputs/input-date', 
        {
          name: 'add-game-release-date', 
          placeholder: 'Select a date', 
          required: true, 
          min: site.today,
          max: '',
          message: {
            error: {
              required: site.messages.forms.failure.required, 
              invalid: site.messages.forms.failure.invalid.id
            }
          }
        }
      ) %>
    </label>
  </fieldset>
  <fieldset class="item-12-12">
    <%- include(site.views + '/atoms/buttons/button-primary', {type: 'submit', action: 'addGame.submit', text: 'Add game', theme: 'brand'}) %>
  </fieldset>
</form>
