<form id="addGame" class="item-12-12" onSubmit="addGame();">
  <% 
    // Game Name 
  %>
  <fieldset class="item-12-12">
    <label class="input-full-width">
      <span class="label-title">Name</span>
      <%- include(site.views + '/atoms/inputs/input-text', 
        {
          name: 'add-game-name', 
          placeholder: 'Enter name', 
          required: true, 
          maxlength: '',
          message: {
            error: {
              required: 'Please do not leave this blank', 
              invalid: 'Please use only letters'
            }
          }
        }
      ) %>
    </label>
  </fieldset>
  <% 
    // Game Description
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Description</span>
      <%- include(site.views + '/atoms/inputs/input-textarea', 
        {
          name: 'add-game-description', 
          placeholder: 'Description', 
          required: true, 
          maxlength: 250,
          message: {
            error: {
              required: 'Please do not leave this blank', 
              invalid: 'Please limit description to 250 characters'
            }
          }  
        }
      ) %>
    </label>
  </fieldset>
  <% 
    // Channels
  %>
  <fieldset class="item-12-12">
    <span class="label-title">Supported channels</span>
    <% inputs = [
        {name: 'phone', icon: 'phone', text: 'Phone'},
        {name: 'tablet', icon: 'tablet', text: 'Tablet'},
        {name: 'desktop', icon: 'desktop', text: 'Desktop'},
        {name: 'slot', icon: 'slot', text: 'Slot'}
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-checkbox-icon', {input: input}) %>
    <% }); %>
  </fieldset>

  <% 
    // Volatility Rating
  %>
  <fieldset class="item-6-12">
    <label>
      <span class="label-title">Volatility Rating</span>
      <div class="volatility-range_container">
        <%- include(site.views + '/atoms/inputs/input-range', {name: 'add-game-volatility', required: true}) %>
      </div>
    </label>
  </fieldset>
  <% 
    // Game Type
  %>
  <fieldset class="item-3-12">
    <label>
      <span class="label-title">Game Type</span>
      <% options = [
          {value: 'type-casual-game', text: 'Casual Game'},
          {value: 'type-coming-soon', text: 'Coming Soon'},
          {value: 'type-egm-ports', text: 'EGM Ports'},
          {value: 'type-featured', text: 'Featured'},
          {value: 'type-jackpots', text: 'Jackpots'},
          {value: 'type-slots', text: 'Slots'},
          {value: 'type-table', text: 'Table'},
          {value: 'type-video-poker', text: 'Video Poker'}
      ] %>
      <%- include(site.views + '/atoms/inputs/input-select', {text: 'Select a type', options: options}) %>
    </label>
  </fieldset>
  <% 
    // Roadmap
  %>
  <fieldset class="item-3-12">
    <label>
      <span class="label-title">Add to Roadmap?</span>
      <% options = [
          {value: 'roadmap-2018-Q1', text: '2018-Q1'},
          {value: 'roadmap-2018-Q2', text: '2018-Q2'},
          {value: 'roadmap-2018-Q3', text: '2018-Q3'},
          {value: 'roadmap-2018-Q4', text: '2018-Q4'},
          {value: 'roadmap-2019-Q1', text: '2019-Q1'},
          {value: 'roadmap-2019-Q2', text: '2019-Q2'},
          {value: 'roadmap-2019-Q3', text: '2019-Q3'},
          {value: 'roadmap-2019-Q4', text: '2019-Q4'}
      ] %>
      <%- include(site.views + '/atoms/inputs/input-select', {text: 'Select a quarter', options: options}) %>
    </label>
  </fieldset>
  <% 
    // Territory
  %>
  <fieldset class="item-12-12">
    <span class="label-title">Supported territories</span>
    <% inputs = [
        {name: 'territory-asia', icon: 'phone', text: 'Asia'},
        {name: 'territory-british-columbia', icon: 'phone', text: 'British Columbia'},
        {name: 'territory-europe', icon: 'phone', text: 'Europe'},
        {name: 'territory-manitoba', icon: 'phone', text: 'Manitoba'},
        {name: 'territory-new-jersey', icon: 'phone', text: 'New Jersey'},
        {name: 'territory-ontario', icon: 'phone', text: 'Ontario'},
        {name: 'territory-pennsylvania', icon: 'phone', text: 'Pensylvia'},
        {name: 'territory-quebec', icon: 'phone', text: 'Quebec'}
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-checkbox', {input: input}) %>
    <% }); %>
  </fieldset>
  <% 
    // Languages
  %>
  <fieldset class="item-12-12">
    <span class="label-title">Supported languages</span>
    <% inputs = [
        {name: 'territory-canadian-french', icon: 'phone', text: 'Canadian French'},
        {name: 'territory-danish', icon: 'phone', text: 'Danish'},
        {name: 'territory-english', icon: 'phone', text: 'English'},
        {name: 'territory-finnish', icon: 'phone', text: 'Finnish'},
        {name: 'territory-french', icon: 'phone', text: 'French'},
        {name: 'territory-german', icon: 'phone', text: 'German'},
        {name: 'territory-italian', icon: 'phone', text: 'Italian'},
        {name: 'territory-norwegian', icon: 'phone', text: 'Norwegian'},
        {name: 'territory-portugese', icon: 'phone', text: 'Portuguese'},
        {name: 'territory-spanish', icon: 'phone', text: 'Spanish'},
        {name: 'territory-swedish', icon: 'phone', text: 'Swedish'}
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-checkbox', {input: input}) %>
    <% }); %>
  </fieldset>
  <% 
    // Theme
  %>
  <fieldset class="item-3-12">
    <label>
      <span class="label-title">Themes</span>
      <% options = [
          {value: 'theme-branded', text: 'Branded'},
          {value: 'theme-featured', text: 'Featured'},
          {value: 'theme-recent', text: 'Recent'},
          {value: 'theme-new', text: 'New'},
          {value: 'theme-egm-port', text: 'EGM Port'},
          {value: 'theme-egypt', text: 'Egypt'},
          {value: 'theme-animal', text: 'Animal'},
          {value: 'theme-game-show', text: 'Game Show'},
          {value: 'theme-top-performer', text: 'Top Performer'},
          {value: 'theme-nature', text: 'Nature'},
          {value: 'theme-stepper', text: 'Stepper'}
      ] %>
      <%- include(site.views + '/atoms/inputs/input-select', {text: 'Select a theme', options: options}) %>
    </label>
  </fieldset>
  <% 
    // New
  %>
  <fieldset class="item-3-12">
    <span class="label-title">Is this game new?</span>
    <%- include(site.views + '/atoms/inputs/input-toggle', 
      {input: {name: 'add-game-new', text: 'Is this game new?'}
    }) %>
  </fieldset>
  <% 
    // Paylines
  %>
  <fieldset class="item-3-12">
    <label>
      <span class="label-title">Number of paylines</span>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-paylines', placeholder: '40', min: '1', max: '10', step: '1', required: true}) %>
    </label>
  </fieldset>
  <% 
    // Min/Max Stakes
  %>
  <fieldset class="item-12-12">
    <label>
      <span class="label-title">Min/max stakes (GBP)</span>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-stakes-min', placeholder: '0.75', min: '0.5', max: '5000', step: '0.25', required: true}) %>
      <%- include(site.views + '/atoms/inputs/input-number', {name: 'add-game-stakes-max', placeholder: '2,250', min: '0.5', max: '5000', step: '0.25', required: true}) %>
    </label>
  </fieldset>
  <% 
    // Software ID & RTP
  %>
  <fieldset class="item-6-12">
    <label>
      <span class="label-title">Software ID & RTP</span>
      <%- include(site.views + '/atoms/inputs/input-text', 
        {
          name: 'add-game-software-id', 
          placeholder: 'Enter ID', 
          required: true, 
          maxlength: '',
          message: {
            error: {
              required: 'Please do not leave this blank', 
              invalid: 'Please enter a valid ID'
            }
          }
        }
      ) %>
    </label>
  </fieldset>
  <% 
    // Release date
  %>
  <fieldset class="item-6-12">
    <label>
      <span class="label-title">Game Release Date</span>
      <%- include(site.views + '/atoms/inputs/input-date', 
        {
          name: 'add-game-release-date', 
          placeholder: 'Select a date', 
          required: true, 
          min: site.today,
          max: '',
          message: {
            error: {
              required: 'Please do not leave this blank', 
              invalid: 'Please enter a valid ID'
            }
          }
        }
      ) %>
    </label>
  </fieldset>
  <% 
    // 3rd Party Licensed
  %>
  <fieldset class="item-12-12">
    <span class="label-title">3rd Party Licenced</span>
    <% inputs = [
      {name: 'add-game-third-party-licence', text: 'Yes', value: 'yes', required: true},
      {name: 'add-game-third-party-licence', text: 'No', value: 'no', required: true}
    ] %>
    <% inputs.forEach(function(input, index) { %>
      <%- include(site.views + '/atoms/inputs/input-radio', {input: input}) %>
    <% }); %>
  </fieldset>
  <fieldset class="item-12-12">
    <%- include(site.views + '/atoms/buttons/button-primary', {action: 'addGame.submit', text: 'Add game', theme: 'brand'}) %>
  </fieldset>
</form>
