<section class="hero__wrapper">
  <%- include(site.views + '/atoms/images/image', {url: image.url, alt: image.alt}) %>
  <section class="item-6 content">
    <article class="inner">
      <header>
        <h1 class="title"><%= title %></h1>
      </header>
      <p><%= content %></p>
      <footer>
        <%- include(site.views + '/atoms/buttons/button-primary', {action: 'log("' + primary + '")', text: 'Play game', theme: 'brand'}) %>
        <%- include(site.views + '/atoms/buttons/button-secondary_icon', {action: 'log("' + secondary + '")', text: 'Game details', theme: 'light', icon: 'plus-light'}) %>
      </footer>
    </article>
  </section>
</section>