<section class="hero_container">
  <%- include(site.views + '/atoms/images/image-hero', {url: image.url, alt: image.alt}) %>
  <section class="item-6-12 content_container">
    <article class="inner">
      <header>
        <h1 class="title"><%= title %></h1>
        <p class="content"><%= content %></p>
      </header>
      <footer>
        <%- include(site.views + '/atoms/buttons/button-primary', {action: 'log("' + primary + '")', text: 'Play game', theme: 'brand'}) %>
        <%- include(site.views + '/atoms/buttons/button-secondary_icon', {action: 'log("' + secondary + '")', text: 'Game details', theme: 'light', icon: 'plus-light'}) %>
      </footer>
    </article>
  </section>
</section>