<nav class="nav-primary">
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Games', style: 'primary-nav', restricted: false}) %>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Asset Manager', style: 'primary-nav', restricted: true}) %>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Roadmap', style: 'primary-nav', restricted: true}) %>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Documents', style: 'primary-nav', restricted: true}) %>
	<%- include(site.views + '/atoms/link', {link: '/news-events', text: 'News & Events', style: 'primary-nav', restricted: false}) %>
</nav>
