<section class="tabbed-section__container">
  <nav class="tabbed-section__nav">
    <ul>
    <% articles.forEach(function(article, index) { %>
      <li>
          <a 
            href="#<%= article.slug %>"
            data-state="<% if (index == 0) { %>is-active<% } %>"
          ><%= article.title %></a>
        </li>
      <% }) %>
    </ul>
  </nav>
  <% articles.forEach(function(article, index) { %>
    <article 
      id="<%= article.slug %>" 
      class="tabbed-section__tab" 
      data-state="<% if (index == 0) { %>is-active<% } %>"
    >
      <h2><%= article.title %></h2>
      <p><%= article.content %></p>
    </article>
  <% }); %>
</section>
