<label class="input-checkbox-fancy" title="<%= input.text %>" aria-label="<%= input.text %>">
  <input 
    tabindex="0" 
    type="checkbox" 
    name="<%= input.name %>"
    data-state="is-pristine" 
    onfocus="dirty(event)"
    <% if (input.required == true) { %>
      required
    <% } %>
  >
  <span class="input-checkbox-check">
    <%- include(site.views + '/icons/user-interface/check-brand') %>
  </span>
  <span class="input-checkbox-label">
    <%= input.text %>
  </span>
  <div 
    class="input-validation-message"
    <% if (input.required == true) { %>
      data-message-error-required="<%= input.message.error.required %>"
    <% } %>
    data-message-error-invalid="<%= input.message.error.invalid %>"
  ></div>
</label>