<select 
  name="<%= name %>"
  tabindex="0"
  data-state="is-pristine" 
  onfocus="dirty(event)"
  onblur="validate(event)"
  <% if (required == true) { %>
    required
  <% } %>
>
    <option value="" disabled selected hidden><%= text %></option>
    <% options.forEach(function(option, index) { %>
      <option value="<%= option.value %>"><%= option.text %></option>
    <% }); %>
</select>
<div 
  class="input-validation-message"
  <% if (required == true) { %>
    data-message-error-required="<%= message.error.required %>"
  <% } %>
  data-message-error-invalid="<%= message.error.invalid %>"
></div>