<label class="input-checkbox-icon" title="<%= input.text %>" aria-label="<%= input.text %>">
  <input type="checkbox" name="<%= input.name %>">
  <span class="input-checkbox-icon">
    <%- include(site.views + '/icons/usage-icons/' + input.icon) %>
  </span>
  <span class="input-checkbox-label">
    <%= input.text %>
  </span>
</label>