<%- contentFor('hero') %>
<section class="hero grid grid-central section-theme-light">
	<div class="item-6-12">
			<h1 class="page-title">Add a game</h1>
	</div>
	<div class="item-6-12">
		<%- include(site.views + '/molecules/admin-breadcrumbs', 
			{breadcrumbs: [
				{link: '/', text: 'Dashboard'}
			]}
		) %>
	</div>
	<hr class="page-divider" />
</section>


	<%- contentFor('body') %>
		<section class="admin-panel-with-sidebar grid-central section-theme-light">
			<aside class="admin-sidebar item-3-12">
				<%- include(site.views + '/molecules/admin-sidebar-nav', 
					{items: site.user.operators}
				) %>
				<hr class="page-divider" />
				<p class="sidebar-section-title">Admin functions</p>
				<%- include(site.views + '/molecules/admin-sidebar-nav', 
					{items: site.usertypes[site.user.usertype].navigation}
				) %>
			</aside>
			<section class="admin-panel item-9-12">
				<%- include(site.views + '/admin-panels/dashboard-' + site.user.usertype) %>
			</section>
		</section>