<%- contentFor('hero') %>
	<%- include(site.views + '/organisms/hero', 
		{
			image: {
				url: {
					mobile: {
						small: '/img/elephant-king-mobile@1x.jpg',
						large: '/img/elephant-king-mobile@2x.jpg'
					},
					desktop: {
						small: '/img/elephant-king-desktop@1x.jpg',
						large: '/img/elephant-king-desktop@2x.jpg'
					}
				}, 
				alt: 'Bill Murray. Pretty much a living legend.', 
			},
			title: 'This is the UI Kit', 
			content: 'There\'s only a couple times when fame is ever helpful. Sometimes you can get into a restaurant where the kitchen is just closing. Sometimes you can avoid a traffic violation. But the only time it really matters is in the emergency room with your kids. That\'s when you want to be noticed, because it\'s very easy to get forgotten in an ER.',
			primary: 'params',
			secondary: 'this-game' }) %>

	<%- contentFor('body') %>
		<section class="section-theme-white">
			<h2 class="section-title">Recommended for you</h2>
			<%- include(site.views + '/atoms/buttons/button-secondary_icon', {action: 'log("Secondary with Icon")', text: 'View all', theme: 'brand', icon: 'arrow-brand'}) %>
			<section class="thumbnail_container">
				<%- include(site.views + '/molecules/thumbnail', {target: 'monkey-tennis', image: {url: 'http://fillmurray.com/640/460', alt: 'Bill Murray'}, title: 'Monkey Tennis', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'elephant-kingdom', image: {url: 'http://fillmurray.com/840/470', alt: 'Bill Murray'}, title: 'Elephant Kingdom', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'witchwood', image: {url: 'http://fillmurray.com/650/480', alt: 'Bill Murray'}, title: 'Witchwood', description: 'Casual game', flag: {new: true}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'keystone-kops', image: {url: 'http://fillmurray.com/640/490', alt: 'Bill Murray'}, title: 'Keystone Kops', description: 'Casual game', flag: {new: false}}) %>
			</section>

			<%- include(site.views + '/organisms/tabbed-sections', 
				{
					target: 'your-mum', 
					articles: [
						{slug: 'game-screens', title: 'Game screens', slides: [{url: 'http://placecage.com/900/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/460', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/540', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/1240/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}]},
						{slug: 'overview', title: 'Overview', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis dui vitae tellus feugiat, nec sagittis leo pretium. Phasellus risus sem, scelerisque dignissim auctor in, eleifend quis turpis. Cras orci risus, molestie dapibus fringilla at, faucibus id risus. Proin nec velit sagittis, vulputate velit placerat, euismod lorem. Praesent consectetur, velit eu lacinia consectetur, nunc neque efficitur urna, nec facilisis nulla orci sit amet felis. In tincidunt dictum ligula, dignissim aliquam eros suscipit nec. Phasellus et leo et ipsum varius consectetur vel blandit lectus. Suspendisse mattis mollis quam ac fermentum. Nullam sollicitudin, nunc nec gravida vestibulum, tortor arcu suscipit velit, ut ultricies orci justo sed purus. Mauris eget ex sed ante mollis tincidunt. Pellentesque eleifend blandit mauris at ullamcorper. Nulla nec turpis id nisl fringilla aliquet. Donec dictum hendrerit nisl sed finibus. Vestibulum massa arcu, varius eget efficitur vitae, vulputate eget erat. Ut dignissim faucibus tortor ac suscipit. Quisque eget risus nec libero porta cursus id ac purus.'}, 
						{slug: 'game-info', title: 'Game info', content: 'Praesent vel dapibus ante. Vivamus sollicitudin lorem diam, sed pellentesque urna accumsan eu. Ut vel elementum ex, ac volutpat nibh. Aliquam laoreet posuere metus, venenatis ullamcorper mauris aliquet a. Sed tempus metus nec scelerisque tempor. Vivamus dapibus pretium dolor vitae tincidunt. Quisque neque tortor, rhoncus non rhoncus non, mattis nec elit. Donec interdum urna dui, condimentum varius lacus posuere quis. '}
					]
				}
			) %>

			<section class="thumbnail_container">
				<%- include(site.views + '/molecules/thumbnail', {target: 'monkey-tennis-2', image: {url: 'http://fillmurray.com/640/460', alt: 'Bill Murray'}, title: 'Monkey Tennis', description: 'Casual game', flag: {new: true}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'elephant-kingdom-2', image: {url: 'http://fillmurray.com/840/470', alt: 'Bill Murray'}, title: 'Elephant Kingdom', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'witchwood-2', image: {url: 'http://fillmurray.com/650/480', alt: 'Bill Murray'}, title: 'Witchwood', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'keystone-kops-2', image: {url: 'http://fillmurray.com/640/490', alt: 'Bill Murray'}, title: 'Keystone Kops', description: 'Casual game', flag: {new: false}}) %>
			</section>
			<%- include(site.views + '/organisms/tabbed-sections', 
				{
					target: 'your-mum', 
					articles: [
						{slug: 'game-screens', title: 'Game screens', slides: [{url: 'http://placecage.com/900/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/460', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/540', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/1240/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}]},
						{slug: 'overview', title: 'Overview', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis dui vitae tellus feugiat, nec sagittis leo pretium. Phasellus risus sem, scelerisque dignissim auctor in, eleifend quis turpis. Cras orci risus, molestie dapibus fringilla at, faucibus id risus. Proin nec velit sagittis, vulputate velit placerat, euismod lorem. Praesent consectetur, velit eu lacinia consectetur, nunc neque efficitur urna, nec facilisis nulla orci sit amet felis. In tincidunt dictum ligula, dignissim aliquam eros suscipit nec. Phasellus et leo et ipsum varius consectetur vel blandit lectus. Suspendisse mattis mollis quam ac fermentum. Nullam sollicitudin, nunc nec gravida vestibulum, tortor arcu suscipit velit, ut ultricies orci justo sed purus. Mauris eget ex sed ante mollis tincidunt. Pellentesque eleifend blandit mauris at ullamcorper. Nulla nec turpis id nisl fringilla aliquet. Donec dictum hendrerit nisl sed finibus. Vestibulum massa arcu, varius eget efficitur vitae, vulputate eget erat. Ut dignissim faucibus tortor ac suscipit. Quisque eget risus nec libero porta cursus id ac purus.'}, 
						{slug: 'game-info', title: 'Game info', content: 'Praesent vel dapibus ante. Vivamus sollicitudin lorem diam, sed pellentesque urna accumsan eu. Ut vel elementum ex, ac volutpat nibh. Aliquam laoreet posuere metus, venenatis ullamcorper mauris aliquet a. Sed tempus metus nec scelerisque tempor. Vivamus dapibus pretium dolor vitae tincidunt. Quisque neque tortor, rhoncus non rhoncus non, mattis nec elit. Donec interdum urna dui, condimentum varius lacus posuere quis. '}
					]
				}
			) %>
		</section>



