<%- contentFor('hero') %>
	<%- include(site.views + '/organisms/hero', 
		{
			image: {
				url: {
					mobile: {
						small: '/img/elephant-king-mobile@1x.jpg',
						large: '/img/elephant-king-mobile@2x.jpg'
					},
					desktop: {
						small: '/img/elephant-king-desktop@1x.jpg',
						large: '/img/elephant-king-desktop@2x.jpg'
					}
				}, 
				alt: 'Bill Murray. Pretty much a living legend.', 
			},
			title: 'Wishwood', 
			content: 'Every path reveals secret treasures in the mystical forest of Wishwood! Join Poa the sprite and other woodland creatures as you climb the gargantuan tree growing deep within the forest.',
			primary: 'params',
			secondary: 'this-game' }) %>

	<%- contentFor('body') %>
		<section>
			<section class="thumbnail_container">
				<%- include(site.views + '/molecules/thumbnail', {target: 'monkey-tennis', image: {url: 'http://fillmurray.com/640/460', alt: 'Bill Murray'}, title: 'Monkey Tennis', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'elephant-kingdom', image: {url: 'http://fillmurray.com/840/470', alt: 'Bill Murray'}, title: 'Elephant Kingdom', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'witchwood', image: {url: 'http://fillmurray.com/650/480', alt: 'Bill Murray'}, title: 'Witchwood', description: 'Casual game', flag: {new: true}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'keystone-kops', image: {url: 'http://fillmurray.com/640/490', alt: 'Bill Murray'}, title: 'Keystone Kops', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'witchwood-2', image: {url: 'http://fillmurray.com/650/480', alt: 'Bill Murray'}, title: 'Witchwood', description: 'Casual game', flag: {new: true}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'keystone-kops-2', image: {url: 'http://fillmurray.com/640/490', alt: 'Bill Murray'}, title: 'Keystone Kops', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'monkey-tennis-2', image: {url: 'http://fillmurray.com/640/460', alt: 'Bill Murray'}, title: 'Monkey Tennis', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'elephant-kingdom-2', image: {url: 'http://fillmurray.com/840/470', alt: 'Bill Murray'}, title: 'Elephant Kingdom', description: 'Casual game', flag: {new: false}}) %>

			</section>
		</section>
		<section class="section-theme-light">
			<div class=" grid grid-central">
				<h3 class="section-title item-12-12">What's new on Casino Lounge</h3>
				<section class="teaser_container item-12-12">
					<div class="teaser_container-column">
						<%- include(site.views + '/molecules/teaser', {style: 'large', image: {url: 'http://fillmurray.com/600/400', alt: 'Bill Murray'}, title: 'Wishwood Launch Party - Malta (IGT Interactive)', content: 'Every path reveals secret treasures in the mystical forest of Wishwood! Join Poa the sprite and other woodland creatures as you climb the gargantuan tree growing deep within the forest.', link: '/styleguide'}) %>
					</div>
					<div class="teaser_container-column">
						<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/200', alt: 'Bill Murray'}, title: 'Behind the scenes: The making of Wishwood', content: '', link: '/styleguide'}) %>
						<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/210', alt: 'Bill Murray'}, title: 'Going Wireless With Your Headphones', content: '', link: '/styleguide'}) %>
						<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/220', alt: 'Bill Murray'}, title: 'How Does An Lcd Screen Work', content: '', link: '/styleguide'}) %>
						<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/230', alt: 'Bill Murray'}, title: 'Microsoft Patch Management For Home Users', content: '', link: '/styleguide'}) %>
					</div>
				</section>
			</div>
		</section>