<%- contentFor('hero') %>
	<%- include(site.views + '/organisms/hero', 
		{
			image: {
				url: {
					mobile: {
						small: '/img/elephant-king-mobile@1x.jpg',
						large: '/img/elephant-king-mobile@2x.jpg'
					},
					desktop: {
						small: '/img/elephant-king-desktop@1x.jpg',
						large: '/img/elephant-king-desktop@2x.jpg'
					}
				}, 
				alt: 'Bill Murray. Pretty much a living legend.', 
			},
			title: 'This is the UI Kit', 
			content: 'There\'s only a couple times when fame is ever helpful. Sometimes you can get into a restaurant where the kitchen is just closing. Sometimes you can avoid a traffic violation. But the only time it really matters is in the emergency room with your kids. That\'s when you want to be noticed, because it\'s very easy to get forgotten in an ER.',
			primary: 'params',
			secondary: 'this-game' }) %>

	<%- contentFor('body') %>
		<a name="this-game" id="this-game"></a>
		<section data-title="Links" id="styleguide-links">
			<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Nav Link', style: 'primary-nav', restricted: false}) %>
			<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Nav Link (Restricted)', style: 'primary-nav', restricted: true}) %>
		</section>

		<section data-title="Buttons (Primary)" id="styleguide-buttons-primary">
			<%- include(site.views + '/atoms/buttons/button-primary', {type: 'button', action: 'log("Primary")', text: 'Primary Button Brand', theme: 'brand'}) %>
			<%- include(site.views + '/atoms/buttons/button-primary', {type: 'button', action: 'log("Primary")', text: 'Primary Button Dark', theme: 'dark'}) %>
			<%- include(site.views + '/atoms/buttons/button-primary', {type: 'button', action: 'log("Primary")', text: 'Primary Button Light', theme: 'light'}) %>
		</section>

		<section data-title="Buttons (Secondary)" id="styleguide-buttons-secondary">
			<%- include(site.views + '/atoms/buttons/button-secondary', {type: 'button', action: 'log("Secondary")', text: 'Secondary Button Brand', theme: 'brand'}) %>
			<%- include(site.views + '/atoms/buttons/button-secondary', {type: 'button', action: 'log("Secondary")', text: 'Secondary Button Dark', theme: 'dark'}) %>
			<%- include(site.views + '/atoms/buttons/button-secondary', {type: 'button', action: 'log("Secondary")', text: 'Secondary Button Light', theme: 'light'}) %>
		</section>

		<section data-title="Buttons (Secondary with Icon)" id="styleguide-buttons-secondary-icon">
			<%- include(site.views + '/atoms/buttons/button-secondary_icon', {type: 'button', action: 'log("Secondary with Icon")', text: 'Secondary Button Icon Brand', theme: 'brand', icon: 'arrow-brand'}) %>
			<%- include(site.views + '/atoms/buttons/button-secondary_icon', {type: 'button', action: 'log("Secondary with Icon")', text: 'Secondary Button Icon Dark', theme: 'dark', icon: 'arrow-dark'}) %>
			<%- include(site.views + '/atoms/buttons/button-secondary_icon', {type: 'button', action: 'log("Secondary with Icon")', text: 'Secondary Button Icon Light', theme: 'light', icon: 'arrow-light'}) %>
		</section>

		<section data-title="Buttons (Icon only)" id="styleguide-buttons-icon-only">
			<%- include(site.views + '/atoms/buttons/button-icon-only', {type: 'button', action: 'log("expand thumbnail")', text: 'Expand the thumbnail', icon: 'plus-light', theme: 'light'}) %>
			<%- include(site.views + '/atoms/buttons/button-icon-only', {type: 'button', action: 'log("log in")', text: 'Log in', icon: 'account-light', theme: 'brand'}) %>
			<%- include(site.views + '/atoms/buttons/button-icon-only', {type: 'button', action: 'log("share stuff")', text: 'Share something', icon: 'share-light', theme: 'dark'}) %>
		</section>
		
		<section data-title="Buttons (Ghost)" id="styleguide-buttons-ghost">
			<%- include(site.views + '/atoms/buttons/button-ghost', {type: 'button', action: 'log("Ghost")', text: 'Ghost Button Brand', theme: 'brand'}) %>
			<%- include(site.views + '/atoms/buttons/button-ghost', {type: 'button', action: 'log("Ghost")', text: 'Ghost Button Dark', theme: 'dark'}) %>
			<%- include(site.views + '/atoms/buttons/button-ghost', {type: 'button', action: 'log("Ghost")', text: 'Ghost Button Light', theme: 'light'}) %>
		</section>

		<section data-title="Usage Icons" id="styleguide-usage-icons" class="section-theme-brand">
			<%- include(site.views + '/atoms/usage-icons', {icons: ['phone', 'tablet', 'desktop', 'slot']}) %>
		</section>
		<section data-title="Volatility Meter" id="styleguide-volatility-meter">
			<%- include(site.views + '/atoms/volatility-meter', {volatility: 'Casual'}) %>
			<%- include(site.views + '/atoms/volatility-meter', {volatility: 'Casual Balanced'}) %>
			<%- include(site.views + '/atoms/volatility-meter', {volatility: 'Balanced'}) %>
			<%- include(site.views + '/atoms/volatility-meter', {volatility: 'Balanced Aggressive'}) %>
			<%- include(site.views + '/atoms/volatility-meter', {volatility: 'Aggressive'}) %>
		</section>

		<section data-title="Teasers" id="styleguide-teasers" class="section-theme-light">
			<h3 class="section-title">What's new on Casino Lounge</h3>
			<section class="teaser_container">
				<div class="teaser_container-column">
					<%- include(site.views + '/molecules/teaser', {style: 'large', image: {url: 'http://fillmurray.com/600/400', alt: 'Bill Murray'}, title: 'Wishwood Launch Party - Malta (IGT Interactive)', content: 'Every path reveals secret treasures in the mystical forest of Wishwood! Join Poa the sprite and other woodland creatures as you climb the gargantuan tree growing deep within the forest.', link: '/styleguide'}) %>
				</div>
				<div class="teaser_container-column">
					<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/200', alt: 'Bill Murray'}, title: 'Behind the scenes: The making of Wishwood', content: '', link: '/styleguide'}) %>
					<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/210', alt: 'Bill Murray'}, title: 'Going Wireless With Your Headphones', content: '', link: '/styleguide'}) %>
					<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/220', alt: 'Bill Murray'}, title: 'How Does An Lcd Screen Work', content: '', link: '/styleguide'}) %>
					<%- include(site.views + '/molecules/teaser', {style: 'small', image: {url: 'http://fillmurray.com/300/230', alt: 'Bill Murray'}, title: 'Microsoft Patch Management For Home Users', content: '', link: '/styleguide'}) %>
				</div>
			</section>
		</section>
		
		<section data-title="Search Bar" id="styleguide-search-bar">
			<%- include(site.views + '/atoms/search-bar') %>
		</section>

		<section data-title="Thumbnails" id="styleguide-thumbnails">
			<section class="thumbnail_container">
				<%- include(site.views + '/molecules/thumbnail', {target: 'monkey-tennis', image: {url: 'http://fillmurray.com/640/460', alt: 'Bill Murray'}, title: 'Monkey Tennis', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'elephant-kingdom', image: {url: 'http://fillmurray.com/840/470', alt: 'Bill Murray'}, title: 'Elephant Kingdom', description: 'Casual game', flag: {new: false}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'witchwood', image: {url: 'http://fillmurray.com/650/480', alt: 'Bill Murray'}, title: 'Witchwood', description: 'Casual game', flag: {new: true}}) %>
				<%- include(site.views + '/molecules/thumbnail', {target: 'keystone-kops', image: {url: 'http://fillmurray.com/640/490', alt: 'Bill Murray'}, title: 'Keystone Kops', description: 'Casual game', flag: {new: false}}) %>
			</section>
		</section>

		<section data-title="Tabbed Section" id="styleguide-tabbed-section">
			<%- include(site.views + '/organisms/tabbed-sections', 
				{
					target: 'elephant-kingdom', 
					articles: [
						{slug: 'game-screens', title: 'Game screens', slides: [{url: 'http://placecage.com/900/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/460', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/640/540', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}, {url: 'http://placecage.com/1240/480', alt:'Nicolas Cage. Dude.', caption: 'This is a caption about this photo of Nicolas Cage'}]},
						{slug: 'overview', title: 'Overview', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis dui vitae tellus feugiat, nec sagittis leo pretium. Phasellus risus sem, scelerisque dignissim auctor in, eleifend quis turpis. Cras orci risus, molestie dapibus fringilla at, faucibus id risus. Proin nec velit sagittis, vulputate velit placerat, euismod lorem. Praesent consectetur, velit eu lacinia consectetur, nunc neque efficitur urna, nec facilisis nulla orci sit amet felis. In tincidunt dictum ligula, dignissim aliquam eros suscipit nec. Phasellus et leo et ipsum varius consectetur vel blandit lectus. Suspendisse mattis mollis quam ac fermentum. Nullam sollicitudin, nunc nec gravida vestibulum, tortor arcu suscipit velit, ut ultricies orci justo sed purus. Mauris eget ex sed ante mollis tincidunt. Pellentesque eleifend blandit mauris at ullamcorper. Nulla nec turpis id nisl fringilla aliquet. Donec dictum hendrerit nisl sed finibus. Vestibulum massa arcu, varius eget efficitur vitae, vulputate eget erat. Ut dignissim faucibus tortor ac suscipit. Quisque eget risus nec libero porta cursus id ac purus.'}, 
						{slug: 'game-info', title: 'Game info', content: 'Praesent vel dapibus ante. Vivamus sollicitudin lorem diam, sed pellentesque urna accumsan eu. Ut vel elementum ex, ac volutpat nibh. Aliquam laoreet posuere metus, venenatis ullamcorper mauris aliquet a. Sed tempus metus nec scelerisque tempor. Vivamus dapibus pretium dolor vitae tincidunt. Quisque neque tortor, rhoncus non rhoncus non, mattis nec elit. Donec interdum urna dui, condimentum varius lacus posuere quis. '}
					]
				}
			) %>
		</section>

		<section data-title="Modal" id="styleguide-modal">
			<%- include(site.views + '/atoms/buttons/button-primary', {type: 'button', action: 'openModal()', text: 'Open the modal', theme: 'dark'}) %>
			<%- include(site.views + '/organisms/modal', {content: 'Donec dictum hendrerit nisl sed finibus. Vestibulum massa arcu, varius eget efficitur vitae, vulputate eget erat. Ut dignissim faucibus tortor ac suscipit. Quisque eget risus nec libero porta cursus id ac purus. Praesent vel dapibus ante. Vivamus sollicitudin lorem diam, sed pellentesque urna accumsan eu. Ut vel elementum ex, ac volutpat nibh. Aliquam laoreet posuere metus, venenatis ullamcorper mauris aliquet a. Sed tempus metus nec scelerisque tempor. Vivamus dapibus pretium dolor vitae tincidunt.'}) %>
		</section>

		<section data-title="Admin Sidebar Nav" id="styleguide-admin-sidebar-nav">
			<aside class="admin-sidebar">
				<%- include(site.views + '/molecules/admin-sidebar-nav', 
					{items: [
						{link: '/', text: 'Recent', current: true}, 
						{link: '/', text: 'William Hill', current: false}, 
						{link: '/', text: 'BetFred', current: false}, 
						{link: '/', text: 'Client 3', current: false}, 
						{link: '/', text: 'Fourth Client', current: false}
					]}
				) %>
			</aside>
		</section>

		<section data-title="Admin Data Table" id="styleguide-admin-data-table">
			<section class="admin-panel-with-sidebar grid-central">
				<aside class="admin-sidebar item-3-12">
					<p class="sidebar-section-title">Admin functions</p>
					<%- include(site.views + '/molecules/admin-sidebar-nav', 
						{items: [
							{link: '/', text: 'Recent', current: true}, 
							{link: '/', text: 'William Hill', current: false}, 
							{link: '/', text: 'BetFred', current: false}, 
							{link: '/', text: 'Client 3', current: false}, 
							{link: '/', text: 'Fourth Client', current: false}
						]}
					) %>
				</aside>
				<section class="item-8-12">
					<h2 class="section-title">
						Activity Logs
					</h2>
					<section class="admin-data-table_container">
						<%- include(site.views + '/molecules/admin-data-table', 
							{items: [
								{type: 'login-success', action: {title: 'Logged in from:', content: 'Windows PC, Chrome v64'}, user: 'Benedict Cumberbatch', date: '04/02/2018', time: '13:04'},
								{type: 'password-reset', action: {title: 'Password reset', content: ''}, user: 'Tom Bell', date: '04/02/2018', time: '13:04'},
								{type: 'login-failure', action: {title: 'Failed login attempt from:', content: 'Windows PC, Chrome v64'}, user: 'Katherine Richardson-Beckinsale', date: '04/02/2018', time: '13:04'}
							]}
						) %>
					</section>
				</section>
			</section>
		</section>
		<section data-title="Admin Input Form" id="styleguide-admin-input-form" class="admin">
			<section class="grid grid-central">
				<div class="item-6-12">
						<h1 class="page-title">Add a game</h1>
				</div>
				<div class="item-6-12">
					<%- include(site.views + '/molecules/admin-breadcrumbs', 
						{breadcrumbs: [
							{link: '/manage-game', text: 'Manage games'}, 
							{link: '/', text: 'Add game'}
						]}
					) %>
				</div>
			</section>
			<hr class="page-divider" />
			<section class="admin-panel-with-sidebar grid-central">
				<%- include(site.views + '/forms/add-game') %>
			</section>
		</section>