<%- contentFor('hero') %>
	<%- include(site.views + '/organisms/hero', 
		{
			image: {
				url: 'http://fillmurray.com/600/400', 
				alt: 'Bill Murray. Pretty much a living legend.', 
			},
			title: 'This is the UI Kit', 
			content: 'There\'s only a couple times when fame is ever helpful. Sometimes you can get into a restaurant where the kitchen is just closing. Sometimes you can avoid a traffic violation. But the only time it really matters is in the emergency room with your kids. That\'s when you want to be noticed, because it\'s very easy to get forgotten in an ER.'}) %>

	<%- contentFor('body') %>
		<section data-title="Links" id="styleguide-links">
			<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Link', style: 'primary', restricted: false}) %>
			<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Link (Restricted)', style: 'primary', restricted: true}) %>
		</section>

		<section data-title="Buttons" id="styleguide-buttons">
			<%- include(site.views + '/atoms/buttons/button-primary', {action: 'log("Primary")', text: 'Primary Button'}) %>
			<%- include(site.views + '/atoms/buttons/button-secondary', {action: 'log("Secondary")', text: 'Secondary Button'}) %>
		</section>

		<section data-title="Usage Icons" id="styleguide-usage-icons">
			<%- include(site.views + '/atoms/usage-icons', {icons: ['phone', 'tablet', 'laptop', 'land']}) %>
		</section>

		<section data-title="Search Bar" id="styleguide-search-bar">
			<%- include(site.views + '/atoms/search-bar') %>
		</section>

		<section data-title="Tabbed Section" id="styleguide-tabbed-section">
			<%- include(site.views + '/molecules/tabbed-sections', 
				{articles: [
					{title: 'Thing One', slug: 'thing-one', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis dui vitae tellus feugiat, nec sagittis leo pretium. Phasellus risus sem, scelerisque dignissim auctor in, eleifend quis turpis. Cras orci risus, molestie dapibus fringilla at, faucibus id risus. Proin nec velit sagittis, vulputate velit placerat, euismod lorem. Praesent consectetur, velit eu lacinia consectetur, nunc neque efficitur urna, nec facilisis nulla orci sit amet felis. In tincidunt dictum ligula, dignissim aliquam eros suscipit nec. Phasellus et leo et ipsum varius consectetur vel blandit lectus. Suspendisse mattis mollis quam ac fermentum. Nullam sollicitudin, nunc nec gravida vestibulum, tortor arcu suscipit velit, ut ultricies orci justo sed purus. Mauris eget ex sed ante mollis tincidunt. Pellentesque eleifend blandit mauris at ullamcorper. Nulla nec turpis id nisl fringilla aliquet. Donec dictum hendrerit nisl sed finibus. Vestibulum massa arcu, varius eget efficitur vitae, vulputate eget erat. Ut dignissim faucibus tortor ac suscipit. Quisque eget risus nec libero porta cursus id ac purus.'}, 
					{title: 'Thing Two', slug: 'thing-two', content: 'Praesent vel dapibus ante. Vivamus sollicitudin lorem diam, sed pellentesque urna accumsan eu. Ut vel elementum ex, ac volutpat nibh. Aliquam laoreet posuere metus, venenatis ullamcorper mauris aliquet a. Sed tempus metus nec scelerisque tempor. Vivamus dapibus pretium dolor vitae tincidunt. Quisque neque tortor, rhoncus non rhoncus non, mattis nec elit. Donec interdum urna dui, condimentum varius lacus posuere quis. '}, 
					{title: 'Thing Three', slug: 'thing-three', content: 'Fusce luctus in odio at suscipit. Proin arcu nulla, sollicitudin at imperdiet sed, venenatis sit amet mi. Proin justo risus, tempor eget blandit eget, imperdiet vel neque. Maecenas aliquam, nibh eu interdum tincidunt, risus ipsum placerat nisi, ut dignissim purus nisl eget enim. Sed mauris turpis, ornare id egestas at, congue et diam. In viverra, eros at sodales mollis, nisl lectus molestie risus, vel malesuada nisl mi interdum ante. Nunc molestie nunc vitae lectus molestie eleifend. Praesent libero nisl, scelerisque nec suscipit eget, fringilla in nisi. '}
					]
				}) %>
		</section>

		<section data-title="Modal" id="styleguide-modal">
			<%- include(site.views + '/atoms/buttons/button-primary', {action: 'openModal()', text: 'Open the modal'}) %>
			<%- include(site.views + '/organisms/modal', {content: 'Donec dictum hendrerit nisl sed finibus. Vestibulum massa arcu, varius eget efficitur vitae, vulputate eget erat. Ut dignissim faucibus tortor ac suscipit. Quisque eget risus nec libero porta cursus id ac purus. Praesent vel dapibus ante. Vivamus sollicitudin lorem diam, sed pellentesque urna accumsan eu. Ut vel elementum ex, ac volutpat nibh. Aliquam laoreet posuere metus, venenatis ullamcorper mauris aliquet a. Sed tempus metus nec scelerisque tempor. Vivamus dapibus pretium dolor vitae tincidunt.'}) %>
		</section>