<button 
  class="button-icon-only-<%= theme %> icon-<%= icon %>" 
  onClick="<%= action %>"
  aria-label="<%= text %>"
  title="<%= text %>"
  type="<%= type %>"
>
  <%- include(site.views + '/icons/user-interface/' + icon) %>
  <%= text %>
</button>