<header id="masthead" data-conditional="true" data-state="is-visible">
	
	<div class="inner masthead-desktop">
		<a class="companyLogo" href="/admin"><%- include(site.views + '/icons/logo') %> | Casino Lounge</a>
		<span class="topbar">
			admin navigation
		</span>
		<span	class="icon-nav_container">
			<%- include(site.views + '/atoms/buttons/button-icon-only', {action: 'log("search")', text: '', icon: 'search-light', theme: 'none'}) %>
			<%- include(site.views + '/atoms/buttons/button-icon-only', {action: 'requestLogout()', text: 'Log out', icon: 'account-light', theme: 'brand'}) %>
		</span>
	</div>

	<div class="inner masthead-mobile">
		<a href="/"><%- include(site.views + '/icons/logo') %> | Casino Lounge</a>
		<span class="icon-nav_container">
			<%- include(site.views + '/atoms/buttons/button-icon-only', {action: 'requestLogin()', text: 'Log in', icon: 'account-light', theme: 'brand'}) %>
			<%- include(site.views + '/atoms/buttons/button-icon-only', {action: 'openSidebar()', text: 'Toggle the navigation sidebar', icon: 'hamburger-light', theme: 'dark'}) %>
		</span>
	</div>

</header>

<%- include(site.views + '/organisms/nav-sidebar') %>