<!DOCTYPE html>
<html lang="en" class="redline no-js">

<head>
	<meta charset="UTF-8">
	<title><%= locals.site.title %></title>
	<link rel="stylesheet" href="/css/style.css">
	<link id="devCss" rel="stylesheet" href="/css/development.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<%- include(site.views + '/organisms/masthead') %>
	<%- hero %>

	<main>
		<%- body %>
	</main>

	<%- include(site.views + '/organisms/colophon') %>
	<script src="/js/app.js" charset="utf-8"></script>
</body>

</html>
