<%- contentFor('hero') %>
<section class="hero grid grid-central section-theme-light">
	<div class="
		<% if (site.page.breadcrumbs != false) { %>
			item-6-12
		<% } else { %>
			item-12-12
		<% } %>">
			<h1 class="page-title"><%= site.page.body.title %></h1>
	</div>
	<% if (site.page.breadcrumbs != false) { %>
		<div class="item-6-12">
			<%- include(site.views + '/molecules/admin-breadcrumbs', 
				{breadcrumbs: site.page.breadcrumbs}
			) %>
		</div>
	<% } %>
	<hr class="page-divider" />
</section>


	<%- contentFor('body') %>
		<section class="admin-panel-with-sidebar grid-central section-theme-light">
			<aside class="admin-sidebar item-3-12">
				<% if (site.page.subnavigation != false) { %>
					<%- include(site.views + '/molecules/admin-sidebar-nav', 
						{items: site.page.subnavigation}
					) %>
				<hr class="page-divider" />
				<% } %>
				<% if (user.securityLevel >= 1 ) { %>
					<% if (user.operators != false) { %>
						<p class="sidebar-section-title">Your accounts&nbsp;(<%= user.operators.length %>)</p>
						<% items = [] %>
						<% user.operators.forEach(function(operator, index) { %>
    					<% items.push({slug: operator.slug, link: `admin/operators/${operator.slug}`, text: operator.name}) %>
  					<% }); %>
						<%- include(site.views + '/molecules/admin-sidebar-nav', 
							{items: items}
						) %>
						<hr class="page-divider" />
					<% } %>
				<% } %>
				<p class="sidebar-section-title">Admin functions</p>
				<%- include(site.views + '/molecules/admin-sidebar-nav', 
					{items: site.usertypes[user.usertype.slug].navigation}
				) %>
			</aside>
			<section class="admin-panel item-9-12">
					<%- include(site.views + '/admin-panels/' + site.page.slug) %>
			</section>
		</section>